.xp {
	display: grid;
	grid-template-columns: 2.5cm auto;
	.job {
		margin-bottom: 3pt;
	}
	p {
		font-size: 8pt;
		color: #8B8B8B;
		margin: 0;
		text-align: justify;
	}
	.title {
		div {
			font-size: 12pt;
		}
		display: flex;
		align-items: center;
		.logo {
			flex: 1;
			text-align: right;
		}
	}
	.presta {
		margin-left: 15pt;
		font-family: 'Ostrich Sans', sans-serif;
		font-size: 12pt;
		color: #8B8B8B;
		.node-linker {
		// 	left: 15pt !important;
			height: 100% !important;
			width: auto !important;
		}
	}
	.location {
		font-size: 1.2em;
		margin-left: .5em;
		padding-left: .5em;
		font-family: 'Ostrich Sans', sans-serif;
		border-left: 1px solid #8B8B8B;
		color: #8B8B8B;
	}
	.date {
		position: relative;
		top: 3pt;
		font-family: 'Ostrich Sans', sans-serif;
		font-size: 12pt;
		color: #8B8B8B;
		.node-linker {
			position: absolute;
			height: calc(100% - 17pt);
			min-height: 20px;
			left: 3.5px;
			top: 12pt;
			width: 3pt;
			&.full {
				top: -8pt;
				height: 100%;
			}
			path {
				stroke: var(--main);
				stroke-width: 2pt;
				stroke-dasharray: 5;
				stroke-linecap: round;
				fill: none;
			}

			&.none {
				display: none;
			}
		}
		span {
			font: inherit;
			color: inherit;
		}
		i {
			vertical-align: middle;
			font-size: 10pt;
			color: var(--main);
		}
	}
	a img {
		height: 8pt;
	}
	img {
		height: 10pt;
	}
}