article.contact
	+title("Contact")
	.info 
		i.fa-fw.fa-solid.fa-map-pin
		span Marmanhac (15250)
	.info 
		i.fa-fw.fa-solid.fa-mobile-screen
		a(href="tel:+33670530907") 06.70.53.09.07
	.info 
		i.fa-fw.fa-solid.fa-envelope
		a(href="mailto:nicolas.delauney@pm.me") nicolas.delauney@pm.me
	//- .info 
		i.fa-fw.fa-brands.fa-linkedin
		a(href="https://www.linkedin.com/in/nicolas-delauney-gautier") linkedin.com/in/nicolas-delauney-gautier
	.info 
		i.fa-fw.fa-brands.fa-github
		a(href="https://github.com/delni/") github.com/delni
	.info 
		i.fa-fw.fa-solid.fa-globe
		a(href="https://blog.delni.me/fr/") blog.delni.me