.xp
	+xp_title('2018', 'Master degree in computer science', 'Douai (France)')
		:markdown-it
			**Mines de Douai** — Software & Communication Systems Engineering
	+xp_title('2017', 'International exchange', 'Paisley (Scotland)')
		:markdown-it
			**UWS** – HTML & Game development
	+xp_title('2017', 'MOOC UX Fundamentals', 'Aquent', '', 'none')
		:markdown-it
			**thegymnasium.com**
	//- +xp_title('2015', 'Preparatory classes', 'Amiens (France)')
	//- 	:markdown-it
	//- 		**Lycée Louis Thuillier** – PCSI / PSI
	//- +xp_title('2012', 'Scientific Baccalaureate', 'Beauvais (France)', '', 'none')
	//- 	:markdown-it
	//- 		**Lycée du Saint Esprit**