.projects
	div
		strong 
			a(href="https://github.com/delni/mercury") Mercury
		br
		| Budget Planner
		:markdown-it
			![SQLite](https://img.shields.io/badge/-SQLite-003B57?style=flat-square&logo=sqlite&logoColor=fff)
			![Flutter](https://img.shields.io/badge/-Flutter-02569B?style=flat-square&logo=flutter&logoColor=fff)
			![VueJS](https://img.shields.io/badge/-Vue-4FC08D?style=flat-square&logo=vue.js&logoColor=fff)
	div
		strong 
			a(href="https://ovdb.herokuapp.com/") OVdB
		br
		| Open Vehicule database
		:markdown-it
			![Kotlin](https://img.shields.io/badge/-Kotlin-7f52ff?style=flat-square&logo=kotlin&logoColor=fff)
			![GraphQL](https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=graphql&logoColor=fff)
			![VueJS](https://img.shields.io/badge/-Vue-4FC08D?style=flat-square&logo=vue.js&logoColor=fff)
	div
		strong 
			a(href="https://github.com/Delni/advent-of-code/") Advent Of Code
		br
		| 1 year = 1 language
		:markdown-it
			![Go](https://img.shields.io/badge/-Go-00ADD8?style=flat-square&logo=go&logoColor=fff)
			![Dart](https://img.shields.io/badge/-Dart-0175C2?style=flat-square&logo=dart&logoColor=fff)
			![Deno](https://img.shields.io/badge/-Deno-000000?style=flat-square&logo=deno&logoColor=fff)

style
	:scss
		.projects {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			font-family: Plastique, sans-serif;
			font-size: 8pt;
			color: #8B8B8B;
			strong {
				font-size: 10pt;
			}
			p {
				margin: 0;
			}
			img {
				height: 10pt;
			}
		}