article.skills 
	+title("Skills")
	h4 Languages
	:markdown-it
		- Kotlin
		- Javascript
		- Java
		- Dart
		- Go
		- Python
	h4 Superset
	:markdown-it
		- Typescript
		- Sass / Less
	h4 Frontend
	:markdown-it
		- Vue / Nuxt
		- Svelte(Kit)
		- React
		- Angular
		- Flutter
		- Vanilla
	h4 Backend
	:markdown-it
		- Ktor
		- Springboot
		- Express
		- FastAPI
		- RESTful
		- GraphQL
	h4 Databases
	:markdown-it
		- PostgreSQL
		- MongoDB
		- MariaDB
		- SQLite
	h4 DevOps
	:markdown-it
		- Gitlab CI/CD
		- Github Actions
		- Jenkins
		- Docker
	h4 Operating systems
	:markdown-it
		- MacOS
		- GNU/Linux
		- Windows
	h4 Spoken &amp; Written
	:markdown-it
		- French 🇫🇷  
		- English 🇬🇧