article.skills 
	+title("Compétences")
	h4 Langages
	:markdown-it
		- Kotlin
		- Javascript
		- Java
		- Dart
		- Go
		- Python
	h4 Superset
	:markdown-it
		- Typescript
		- Sass / Less
	h4 Frontend
	:markdown-it
		- Vue / Nuxt
		- Svelte(Kit)
		- React
		- Angular
		- Flutter
	h4 Backend
	:markdown-it
		- Ktor
		- Springboot
		- Express
		- FastAPI
		- RESTful
		- GraphQL
	h4 Persistence
	:markdown-it
		- PostgreSQL
		- MongoDB
		- MariaDB
		- SQLite
	h4 DevOps
	:markdown-it
		- Gitlab CI/CD
		- Github Actions
		- Jenkins
		- Docker
	h4 Système
	:markdown-it
		- MacOS
		- GNU/Linux
		- Windows
	h4 Parlé &amp; Écrit
	:markdown-it
		- Français  
			(natif)
		- Anglais  
			(TOEIC 930)