.xp
	+job('2018', 'Diplôme d\'Ingénieur - Spécialitié ISIC', 'Douai (59)')
		:markdown-it
			**Mines de Douai** - Ingénierie des Systèmes d'Informations et de Communications
	+job('2017', 'Échange international', 'Paisley (Écosse)')
		:markdown-it
			**UWS** – HTML & Game development
	//- +job('2017', 'MOOC UX Fundamentals', 'Aquent')
		:markdown-it
			**thegymnasium.com**
	+job('2015', 'Classes Préparatoires', 'Amiens (80)')
		:markdown-it
			**Lycée Louis Thuillier** – PCSI / PSI
	+job('2012', 'Baccalauréat Scientifique', 'Beauvais (60)', '', 'none')
		:markdown-it
			**Lycée du Saint Esprit**