include ../components/job/xp_title.mixin.pug
include ../components/header/resume-header.pug
include ../components/side/resume-side.pug
+header
main
	+side 
		include content/contact.pug
		include content/skills.pug
		include content/hobbies.pug
	section
		article 
			h2
				| About me
				.after
			p(style="text-align: justify; margin:0") 
				| Curious and playful, I like to explore new perspectives, learn and share knowledge with my team, and produce quality software using the eXtreme Programming (XP) method. 
				| Being a software engineer means to me simplify the life of people by giving them a concrete solution to a given problem.
				| I value particularly the user and like to put them at the center of any reflections around the product and the software.
		article 
			h2
				| Work experiences
				.after
			include content/experiences.pug
						
		article 
			h2
				| Education
				.after
			include content/education.pug
		article
			h2
				| Personal projects
				.after
			include content/projects.pug

style
	include:scss ../resume.scss