@font-face {
    font-family: OstrichSans;
    src: url("./fonts/OstrichSans/OstrichSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: OstrichSans;
    font-weight: bold;
    src: url("./fonts/OstrichSans/OstrichSans-Bold.otf") format("opentype");
}

@font-face {
    font-family: OstrichSans;
    font-weight: thick;
    src: url("./fonts/OstrichSans/OstrichSans-Light.otf") format("opentype");
}