@font-face {
    font-family: Quicksand;
    src: url("/assets/fonts/Quicksand/Quicksand-Regular.otf") format("opentype");
}

@font-face {
    font-family: Quicksand;
    font-weight: bold;
    src: url("/assets/fonts/Quicksand/Quicksand-Bold.otf") format("opentype");
}

@font-face {
    font-family: Quicksand;
    font-weight: thick;
    src: url("/assets/fonts/Quicksand/Quicksand-Light.otf") format("opentype");
}