$page_width: 21cm;
$page_height: 29.7cm;

@page {
  size: $page_width $page_height;
  -relaxed-page-width: $page_width;
  -relaxed-page-height: $page_height;
  margin: 0;
}

* {
	color: var(--text-color);
}

p, span, li, div {
	font-family: Plastique;
	font-size: 9pt;
}
a {
	font: inherit;
	color: inherit;
}

i[class^="fa-"] {
	font-size: 1.2em;
	margin-right: 0.5em;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column;
}

h1, h2, h3 {
	font-family: ManometerSans, sans-serif;
	font-weight: normal;
}

h4 {
	font-family: Plastique, sans-serif;
	margin-bottom: 0;
	margin-top: 4pt;
}
ul {
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	padding-left: 0;
	li::before {
		content: '>';
		font-family: ManometerSans, sans-serif;
		padding-right: 0.5em;
	}
}