include title.mixin.pug

mixin side()
	aside
		if block
			block
		else 
			p todo

		.watermark
			:markdown-it
				Made with [ReLaXed](https://github.com/RelaxedJS/) | See on [Github](https://github.com/Delni/resume)


	style 
		include:scss resume-side.scss