include title.mixin.pug
aside
	article 
		+title("Contact")
		.info 
			i.fa-fw.fa-solid.fa-mobile-screen
			a(href="tel:+33670530907") 06.70.53.09.07
		.info 
			i.fa-fw.fa-solid.fa-envelope
			a(href="mailto:nicolas.delauney@pm.me") nicolas.delauney@pm.me
		.info 
			i.fa-fw.fa-brands.fa-linkedin
			a(href="https://linkedin.com/in/nicolas-delauney-b7849a113/") linkedin.com/in/nicolas-delauney-b7849a113
		.info 
			i.fa-fw.fa-brands.fa-github
			a(href="https://github.com/delni/") github.com/delni
		.info 
			i.fa-fw.fa-solid.fa-globe
			a(href="https://blog.delni.me/fr/") blog.delni.me
	article.skills 
		+title("Compétences")
		h4 Langages
		:markdown-it
			- Kotlin
			- Javascript
			- Java
			- Dart
			- Go
			- Python
		h4 Superset
		:markdown-it
			- Typescript
		h4 Frontend
		:markdown-it
			- Vue
			- React
			- Angular
			- Flutter
			- HTML5 / CSS3
			- Sass / Less
		h4 Backend
		:markdown-it
			- Ktor
			- Springboot
			- Express
			- FastAPI
			- RESTful
			- GraphQL
		h4 Persistence
		:markdown-it
			- PostgreSQL
			- MongoDB
			- MariaDB
			- SQLite
		h4 DevOps
		:markdown-it
			- Gitlab CI/CD
			- Github Actions
			- Jenkins
			- Docker
			- Kubernetes
			- AWS
		h4 Système
		:markdown-it
			- MacOS
			- GNU/Linux
			- Windows
		h4 Parlé &amp; Écrit
		:markdown-it
			- Français
			- Anglais
	article 
		+title("Loisirs")
		:markdown-it
			- Cinéma
			- Lecture (Science-Fiction)
			- Pixel art
			- Claviers mécaniques
			- Arduino / Raspberry Pi
			- Lindie Hop (Swing)
			- Randonnées
	.watermark
		:markdown-it
			Made with [ReLaXed](https://github.com/RelaxedJS/) | See on [Github](https://github.com/Delni/resume)


style 
	include:scss resume-side.scss