include title.mixin.pug
aside
	article 
		+title("Contact")
		.info 
			i.fa-fw.fa-solid.fa-mobile-screen
			a(href="tel:+33670530907") 06.70.53.09.07
		.info 
			i.fa-fw.fa-solid.fa-envelope
			a(href="mailto:nicolas.delauney@pm.me") nicolas.delauney@pm.me
		.info 
			i.fa-fw.fa-brands.fa-linkedin
			a(href="https://linkedin.com/in/nicolas-delauney-b7849a113/") linkedin.com/in/nicolas-delauney-b7849a113
		.info 
			i.fa-fw.fa-brands.fa-github
			a(href="https://github.com/delni/") github.com/delni
		.info 
			i.fa-fw.fa-solid.fa-globe
			a(href="https://blog.delni.me/fr/") blog.delni.me
	article 
		+title("Compétences")
	article 
		+title("Loisirs")


style 
	include:scss resume-side.scss