aside {
	background-color: var(--grey);
	// color: white;
	padding: var(--space);
	width: var(--left-column-width);
	article {
		margin-bottom: 0.25cm;
	}
	
	i[class^="fa-"] {
		color: var(--main);
		margin-right: .1cm;
	}
	.info {
		margin-bottom: .2cm;
		display: grid;
		grid-template-columns: .75cm auto;
		align-items: center;
	}
	.title {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		border-bottom: 3px solid var(--main);
		margin-bottom: 0.25cm;
		svg {
			--size: 0.75cm;
			width: var(--size);
			height: var(--size);
			fill: var(--main);
			margin-bottom: -1px;
		}
		h3 {
			color: var(--main);
			font-size: 20px;
			margin: 0;
			// margin-bottom: -5px;
		}
	}
}