@import 'https://use.fontawesome.com/releases/v6.2.0/css/all.css';
@import './reset.scss';

:root {
	--main: #323e4f;
	--grey: #e8e8e8;
	--space: 8px;
	--left-column-width: 6cm;
	--text-color: #464646;
}

main {
	flex: 1;
	display: flex;
	flex-flow: row;
	section {
		flex: 1;
		padding: var(--space) 16px;
		h2 {
			margin: 0;
			display: flex;
			flex-flow: row wrap;
			align-items: baseline;
			text-transform: uppercase;
			color: var(--main);
			.after {
				margin-left: var(--space);
				flex: 1;
				height: 4px;
				border-radius: 2px;
				background: var(--main);
			}
		}
	}
}

.jobs {
	display: grid;
	grid-template-columns: 2.5cm auto;
	p {
		font-size: 8pt;
		color: #8B8B8B;
		margin: 0;
		margin-bottom: 4pt;
	}
	.title {
		font-size: 12pt;
	}
	.location {
		font-size: 1.2em;
		margin-left: .5em;
		padding-left: .5em;
		font-family: 'Ostrich Sans';
		border-left: 1px solid #8B8B8B;
		color: #8B8B8B;
	}
	.date {
		position: relative;
		top: 3pt;
		font-family: 'Ostrich Sans';
		font-size: 12pt;
		color: #8B8B8B;
		span {
			font: inherit;
			color: inherit;
		}
		i {
			vertical-align: middle;
			font-size: 10pt;
			color: var(--main);
		}
	}
	img {
		height: 1.25em;
	}
}