@import 'https://use.fontawesome.com/releases/v6.2.0/css/all.css';
@import './assets/reset.scss';

:root {
	--main: #323e4f;
	--grey: #e8e8e8;
	--space: 8px;
	--left-column-width: 6cm;
	--text-color: #464646;
	--page-width: 21cm;
	--page-height: 29.7cm;
}


@page {
	size: --page_width --page_height;
	-relaxed-page-width: --page_width;
	-relaxed-page-height: --page_height;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-flow: column;
}

main {
	flex: 1;
	display: flex;
	flex-flow: row;
	section {
		flex: 1;
		padding: var(--space) 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h2 {
			margin: 0;
			display: flex;
			flex-flow: row wrap;
			align-items: baseline;
			text-transform: uppercase;
			color: var(--main);
			.after {
				margin-left: var(--space);
				flex: 1;
				height: 4px;
				border-radius: 2px;
				background: var(--main);
			}
		}
		.projects {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			font-family: Plastique, sans-serif;
			font-size: 8pt;
			color: #8B8B8B;
			strong {
				font-size: 10pt;
			}
			p {
				margin: 0;
			}
			img {
				height: 10pt;
			}
		}
	}
}