include components/header/resume-header.pug
main
	aside
		article 
			h3 Informations
		article 
			h3 Contact
		article 
			h3 Loisir
	section
		article 
			h2
				span Expériences professionnelles
				.after
		article 
			h2
				span Formations
				.after
		article 
			h2
				span Compétences
				.after

style
	include:scss resume.scss