include components/job.mixin.pug
include components/header/resume-header.pug
main
	include components/side/resume-side.pug
	section
		article 
			h2
				| À propos
				.after
			p De nature curieuse et enjouée, j'aime explorer de nouvelles perspectives, apprendre et partager des connaissances avec mon équipe.
		article 
			h2
				| Expériences professionnelles
				.after
			.jobs
				+job('Mai 2022', 'Software Engineer', 'Remote')
					p Continuité de la mission précédente.
				+job('Oct. 2020', 'Mission - Sinch', 'Remote')
					p Ajout des channels MMS &amp; WhatsApp à une plateforme d'envois massifs de messages marketing personnalisés. Mise en place de SonarQube. Holacracy, pair-programming, TDD.
					:markdown-it
						![Python](https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=python&logoColor=ffffff)
						![TypeScript](https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=ffffff)
				+job('Nov. 2019', 'Mission - 4SH', 'Mérignac (33)')
				+job('Sept. 2019', 'Développeur Fullstack', 'Bordeaux (33)')
				+job('Juil. 2018', 'Junior developer', 'Bordeaux (33)')
				+job('Janv. 2018', 'Junior developer frontend', 'Pessac (33)')
		article
			h2
				| Projets personnels
				.after
		article 
			h2
				| Formations
				.after

style
	include:scss resume.scss