include components/job/job.mixin.pug
include components/header/resume-header.pug
main
	include components/side/resume-side.pug
	section
		article 
			h2
				| À propos
				.after
			p(style="text-align: justify; margin:0") De nature curieuse et enjouée, j'aime explorer de nouvelles perspectives, apprendre et partager des connaissances avec mon équipe, et réaliser des logiciels de qualité selon la méthode eXtreme Programming (XP). Être développeur signifie pour moi simplifier la vie des gens en proposant une solution concrète à un problème donné.
		article 
			h2
				| Expériences professionnelles
				.after
			.xp
				+job('Mai 2022', 'Software Engineer', 'Remote', 'https://www.sinch.com/themes/custom/themekit/logo.svg')
					:markdown-it
						Continuité de la mission précédente.  
						Création d'un logiciel de landing pages personnalisables, en mode micro-service.
				+job('Oct. 2020', 'Mission en prestation', 'Remote', 'https://www.sinch.com/themes/custom/themekit/logo.svg', '', true)
					:markdown-it
						![Vite](https://img.shields.io/badge/-Vite-646CFF?style=flat-square&logo=vite&logoColor=fff)
						![Python](https://img.shields.io/badge/-Python-3776AB?style=flat-square&logo=python&logoColor=fff)
						![TypeScript](https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=fff)
						![React](https://img.shields.io/badge/-React-61DAFB?style=flat-square&logo=react&logoColor=000)
						![Vitest](https://img.shields.io/badge/-Vitest-6E9F18?style=flat-square&logo=vitest&logoColor=fff)
						![Gitlab](https://img.shields.io/badge/-Gitlab-FC6D26?style=flat-square&logo=gitlab&logoColor=fff)
						![Jest](https://img.shields.io/badge/-Jest-C21325?style=flat-square&logo=jest&logoColor=fff)
					:markdown-it
						Ajout des channels MMS & WhatsApp à une plateforme d'envois massifs de messages marketing personnalisés.  
						Mise en place de SonarQube, des pipelines Gitlab et des bonnes pratiques front. 
						Holacracy, pair-programming, TDD.
						Animation d'équipe.
				+job('Nov. 2019', 'Mission en prestation', 'Mérignac (33)', 'https://www.4sh.fr/assets/img/svg/4sh_logo.svg', '', true)
					:markdown-it
						![Kotlin](https://img.shields.io/badge/-Kotlin-7f52ff?style=flat-square&logo=kotlin&logoColor=fff)
						![Bitbucket](https://img.shields.io/badge/-Bitbucket-0052CC?style=flat-square&logo=bitbucket&logoColor=fff)
						![TypeScript](https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=fff)
						![SpringBoot](https://img.shields.io/badge/-SpringBoot-6db33f?style=flat-square&logo=springboot&logoColor=fff)
						![Angular](https://img.shields.io/badge/-Angular-dd0031?style=flat-square&logo=angular&logoColor=fff)
					p Développement d'un back office de création de site e-commerce. 
					p Création d'un logiciel de saisie &amp; revue en ligne d'annonces funèbres.
					p Maintenance d'un logiciel de saisie des heures.
				+job('Sept. 2019', 'Développeur Fullstack', 'Bordeaux (33)', 'http://blog.arca-computing.fr/wp-content/uploads/2015/05/logo-arca-retina.png')
					:markdown-it
						![Java](https://img.shields.io/badge/-Java-007396?style=flat-square&logo=java&logoColor=fff)
						![TypeScript](https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=fff)
						![Angular](https://img.shields.io/badge/-Angular-dd0031?style=flat-square&logo=angular&logoColor=fff)
					p Missions en prestation fullstack.
					:markdown-it
						Rédaction d'articles de blogs ([blog.arca-computing.fr](https://blog.arca-computing.fr/author/ndelauney/)).
				+job('Juil. 2018', 'Junior developer', 'Bordeaux (33)', 'https://qomon.app/static/images/qomon/black.svg')
					:markdown-it
						![Leaflet](https://img.shields.io/badge/-Leaflet-199900?style=flat-square&logo=leaflet&logoColor=fff)
						![VueJS](https://img.shields.io/badge/-Vue-4FC08D?style=flat-square&logo=vue.js&logoColor=fff)
						![JavaScript](https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat-square&logo=javascript&logoColor=000)
						![Gitlab](https://img.shields.io/badge/-Gitlab-FC6D26?style=flat-square&logo=gitlab&logoColor=fff)
						![Jest](https://img.shields.io/badge/-Jest-C21325?style=flat-square&logo=jest&logoColor=fff)
						![Sass](https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=fff)
					p En charge du back office d'un logiciel de suivi d'actions terrain. 
					p Réalisation d'un module de cartographie avancé. 
					p Création d'un Design System Sass/Vue.
				+job('Janv. 2018', 'Junior developer frontend', 'Pessac (33)', 'https://www.ehtrace.com/wp-content/uploads/2016/05/EHTrace_Logo_Dark_400.png', 'none')
					:markdown-it
						![Less](https://img.shields.io/badge/-Less-1D365D?style=flat-square&logo=less&logoColor=fff)
						![Mocha](https://img.shields.io/badge/-Mocha-8D6748?style=flat-square&logo=mocha&logoColor=fff)
						![AngularJS](https://img.shields.io/badge/-AnuglarJS-E23237?style=flat-square&logo=angularjs&logoColor=fff)
					p Stage de fin d'étude. 
					p Ajout d'un module de surlignage automatique d'erreurs sur une page de saisie d'intervention médicale.
						
		article 
			h2
				| Formations
				.after
			.xp
				+job('2018', 'Diplôme d\'Ingénieur - Spécialitié ISIC', 'Douai (59)')
					:markdown-it
						**Mines de Douai** - Ingénierie des Systèmes d'Informations et de Communications
				+job('2017', 'Échange international', 'Paisley (Écosse)')
					:markdown-it
						**UWS** – HTML & Game development
				//- +job('2017', 'MOOC UX Fundamentals', 'Aquent')
					:markdown-it
						**thegymnasium.com**
				+job('2015', 'Classes Préparatoires', 'Amiens (80)')
					:markdown-it
						**Lycée Louis Thuillier** – PCSI / PSI
				+job('2012', 'Baccalauréat Scientifique', 'Beauvais (60)', '', 'none')
					:markdown-it
						**Lycée du Saint Esprit**
		article
			h2
				| Projets personnels
				.after
			.projects
				div
					strong 
						a(href="https://github.com/delni/mercury") Mercury
					br
					| Budget Planner
					:markdown-it
						![SQLite](https://img.shields.io/badge/-SQLite-003B57?style=flat-square&logo=sqlite&logoColor=fff)
						![Flutter](https://img.shields.io/badge/-Flutter-02569B?style=flat-square&logo=flutter&logoColor=fff)
						![VueJS](https://img.shields.io/badge/-Vue-4FC08D?style=flat-square&logo=vue.js&logoColor=fff)
				div
					strong 
						a(href="https://ovdb.herokuapp.com/") OVdB
					br
					| Open Vehicule database
					:markdown-it
						![Kotlin](https://img.shields.io/badge/-Kotlin-7f52ff?style=flat-square&logo=kotlin&logoColor=fff)
						![GraphQL](https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=graphql&logoColor=fff)
						![VueJS](https://img.shields.io/badge/-Vue-4FC08D?style=flat-square&logo=vue.js&logoColor=fff)
				div
					strong 
						a(href="https://github.com/Delni/advent-of-code/") Advent Of Code
					br
					| 1 an = 1 langage
					:markdown-it
						![Go](https://img.shields.io/badge/-Go-00ADD8?style=flat-square&logo=go&logoColor=fff)
						![Dart](https://img.shields.io/badge/-Dart-0175C2?style=flat-square&logo=dart&logoColor=fff)
						![Deno](https://img.shields.io/badge/-Deno-000000?style=flat-square&logo=deno&logoColor=fff)

style
	include:scss resume.scss