include components/header/resume-header.pug
main
	include components/side/resume-side.pug
	section
		article 
			h2
				| Expériences professionnelles
				.after
		article 
			h2
				| Formations
				.after
		article 
			h2
				| Compétences
				.after

style
	include:scss resume.scss